# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-debug.log*

# Build outputs
dist/
build/
.vercel/
.netlify/

# Env
.env
.env.*
!.env.example

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Coverage
coverage/

# Misc
*.local
